{% load humanize %}
{% load gravatar %}

<div class="list-group {% if container_class %}{{ container_class }}{% endif %}">
    {% for operation in operations %}
        <a href="{% url 'money:operation' operation.id %}" class="list-group-item" data-week="{{ operation.get_created_week }}">
            <div class="row">
                <div class="col-xs-8" style="height: 20px; overflow: hidden;">
                    <img src="{% gravatar_url operation.user.email %}" class="img-circle" alt="Gravatar" style="width: 20px; height: 20px;"/>

                    <span>
                        {{ operation.get_category_title }}
                    </span>
                </div>
                <div class="col-xs-4 text-right">
                    <span class="label label-{{ operation.get_color }}">
                        {{ operation.get_amount | floatformat:0 | intcomma }}
                    </span>
                </div>
            </div>

            <small class="text-muted mt10">
                {% if operation.comment %}
                    <i class="fa fa-comment-o"></i>
                {% endif %}

                {{ operation.created_at | naturalday }}
            </small>
        </a>
    {% endfor %}
</div>