{% extends 'layout.html' %}

{% load humanize %}

{% block page_title %}{{ account.title }}{% endblock page_title %}
{% block page_description %}подробно{% endblock page_description %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <a href="{% url 'money:create_operation' account.id %}" class="btn btn-primary btn-block">Создать новую
                транзакцию</a>
        </div>
    </div>

    <hr/>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Баланс
                <span class="pull-right">{{ account.balance | intcomma }}</span>
            </h3>
        </div>
        {% if operations %}
            <div class="list-group">
                {% for operation in operations %}
                    <a href="{% url 'money:operation' operation.id %}" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-8">
                                    <span>
                                        {{ operation.get_category_title }}
                                    </span>

                                <br/>

                                <small class="text-muted">
                                    {{ operation.user.first_name }},
                                    {{ operation.created_at | naturalday }}
                                </small>
                            </div>
                            <div class="col-xs-4 text-right">
                                    <span class="label label-{{ operation.get_color }}">
                                        {{ operation.get_amount | intcomma }}
                                    </span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="panel-body">
                Нет транзакций по текущему счету
            </div>
        {% endif %}
    </div>
{% endblock %}