{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    <br/>

    <ol class="breadcrumb">
        <li><a href="{% url 'money:index' %}">Счета</a></li>
    </ol>

    <div class="lead clearfix">
        <div class="pull-left">
            {{ account.title }}

            {% if account.get_available_credit_amount or account.get_available_debit_amount %}
                <br/>
                <small>
                    Ограничения:
                    {% if account.get_available_debit_amount %}
                        <span class="text-success">+{{ account.get_available_debit_amount | intcomma }}</span>
                    {% endif %}

                    {% if account.get_available_credit_amount %}
                        и <span class="text-danger">-{{ account.get_available_credit_amount | intcomma }}</span>
                    {% endif %}
                </small>
            {% endif %}
        </div>
        <div class="pull-right text-info">
            {{ account.balance | intcomma }}
        </div>
    </div>

    <a href="{% url 'money:create_operation' account.id %}" class="btn btn-primary btn-block">Создать новую транзакцию</a>

    <br/>

    {% if operations %}
        <div class="list-group">
            {% for operation in operations %}
                <a href="{% url 'money:operation' operation.id %}" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-8">
                            <span class="text-{{ operation.get_color }}">
                                {{ operation.get_category_title }}
                            </span>

                            <br/>

                            <small>
                                {{ operation.user.first_name }},
                                {{ operation.created_at | naturalday }}
                            </small>
                        </div>
                        <div class="col-xs-4 text-right">
                            <span class="label label-{{ operation.get_color }}">{{ operation.get_amount | intcomma }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Нет транзакций по текущему счету</p>
    {% endif %}
{% endblock %}