{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    <br/>

    <div class="lead clearfix">
        <div class="pull-left">
            Доступные счета
        </div>
        <div class="pull-right text-info">
            {{ total | intcomma }}
        </div>
    </div>

    {% if object_list %}
        <div class="list-group">
            {% for account in object_list %}
                <a href="{% url 'money:account' account.id %}" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-8">
                            <span class="text-{{ account.get_color }}">
                                {{ account.title }}
                            </span>
                        </div>
                        <div class="col-xs-4 text-right">
                            <span class="label label-{{ account.get_color }}">{{ account.balance | intcomma }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>В системе нет счетов</p>
    {% endif %}

    {% if goals %}
        <div class="lead clearfix">
            <div class="pull-left">
                Доступные цели
            </div>
            <div class="pull-right text-info">
            </div>
        </div>

        <ul class="list-group">
            {% for goal in goals %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6">
                            {{ goal.title }}
                        </div>
                        <div class="col-xs-6 text-right">
                            <span class="label label-warning">
                                {{ goal.amount | intcomma }}
                            </span>
                        </div>
                    </div>

                    <div class="progress" style="margin-bottom: 0; margin-top: 10px;">
                        <div class="progress-bar progress-bar-{{ goal.get_color }}" role="progressbar" aria-valuenow="{{ goal.percent }}"
                             aria-valuemin="0" aria-valuemax="100" style="min-width: 4em; width: {{ goal.get_percent }}%;">
                            {{ goal.percent }}%
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}