{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    <br/>

    <div class="lead clearfix">
        <div class="pull-left">
            Доступные счета
        </div>
        <div class="pull-right text-info">
            {{ total | intcomma }}
        </div>
    </div>

    {% if object_list %}
        <div class="list-group">
            {% for account in object_list %}
                <a href="{% url 'money:account' account.id %}" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-8">
                            <span class="text-{{ account.get_color }}">
                                {{ account.title }}
                            </span>
                        </div>
                        <div class="col-xs-4 text-right">
                            <span class="label label-{{ account.get_color }}">{{ account.get_balance | intcomma }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>В системе нет счетов</p>
    {% endif %}
{% endblock %}