{% extends 'layout.html' %}

{% load humanize %}

{% block page_title %}{{ account.title }}{% endblock page_title %}
{% block page_description %}{% endblock page_description %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <a href="{% url 'money:create_operation' account.id %}" class="btn btn-primary btn-block">Создать новую
                транзакцию</a>
        </div>
    </div>

    <hr/>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Баланс
                <span class="pull-right">{{ account.balance | floatformat:0 | intcomma }}</span>
            </h3>
        </div>
        {% if operations %}
            {% include 'money/_operation_list.html' with operations=operations %}
        {% else %}
            <div class="panel-body">
                Нет транзакций по текущему счету
            </div>
        {% endif %}
    </div>
{% endblock %}