{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    <br/>

    <ol class="breadcrumb">
        <li><a href="{% url 'money:index' %}">Счета</a></li>
        <li><a href="{% url 'money:account' operation.account.id %}">{{ operation.account.title }}</a></li>
    </ol>

    <div class="lead clearfix">
        <div class="pull-left">
            {{ operation.category.title }}
        </div>
        <div class="pull-right text-{{ operation.get_color }}">
            {{ operation.get_amount | intcomma }}
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            Кто:
            <strong class="pull-right">{{ operation.user.first_name }}</strong>
        </li>
        <li class="list-group-item">
            Где:
            <strong class="pull-right">{{ operation.account.title }}</strong>
        </li>
        <li class="list-group-item">
            Что:
            <strong class="pull-right">{{ operation.category.title }}</strong>
        </li>
        <li class="list-group-item">
            Когда:
            <strong class="text-capitalize pull-right">{{ operation.created_at | naturalday }}</strong>
        </li>
    </ul>

    {% if operation.comment %}
        <blockquote>
            <p>Комментарий</p>
            <footer>{{ operation.comment }}</footer>
        </blockquote>
    {% endif %}
{% endblock %}