{% extends 'layout.html' %}

{% load humanize %}

{% block page_title %}{{ operation.get_category_title }}{% endblock page_title %}
{% block page_description %}{% endblock page_description %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Сумма
                <span class="pull-right">{{ operation.get_amount | intcomma }}</span>
            </h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                Кто:
                <strong class="pull-right">{{ operation.user.first_name }}</strong>
            </li>
            <li class="list-group-item">
                Где:
                <strong class="pull-right">{{ operation.account.title }}</strong>
            </li>
            <li class="list-group-item">
                Что:
                <strong class="pull-right">
                    {{ operation.get_type_title }}
                </strong>
            </li>
            <li class="list-group-item">
                Когда:
                <strong class="text-capitalize pull-right">{{ operation.created_at | naturalday }}</strong>
            </li>
        </ul>
    </div>

    {% if operation.comment %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Комментарий
                </h3>
            </div>
            <div class="panel-body">
                {{ operation.comment }}
            </div>
        </div>
    {% endif %}
{% endblock %}