{% extends 'base.html' %}

{% load humanize %}

{% block content %}
    <br/>

    <ol class="breadcrumb">
        <li><a href="{% url 'money:index' %}">Счета</a></li>
    </ol>

    <div class="lead">Новый перевод</div>

    <form action="{% url 'money:create_transfer' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if not field.is_hidden %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <p class="help-block">{{ field.errors.as_text }}</p>
                </div>
            {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-primary btn-block" data-loading-text="Выполняю...">Сохранить</button>
    </form>

    <br/>
{% endblock %}