{% extends 'layout.html' %}

{% load humanize %}

{% block page_title %}Месячный отчет{% endblock page_title %}
{% block page_description %}{% endblock page_description %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ month|date:"F Y" }}
                <span class="pull-right">{{ amount | intcomma }}</span>
            </h3>
        </div>
        <div class="panel-body">
            <div id="container_week" style="height: 300px; margin: 0 auto"></div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                Категории трат
            </h3>
        </div>
        <div class="panel-body">
            <div id="container_month" style="height: 300px; margin: 0 auto"></div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                Транзакции
            </h3>
        </div>
        {% if object_list %}
            <div class="list-group operations-list">
                {% for operation in object_list %}
                    <a href="{% url 'money:operation' operation.id %}" class="list-group-item"
                       data-week="{{ operation.get_created_week }}">
                        <div class="row">
                            <div class="col-xs-8">
                                    <span>
                                        {{ operation.get_category_title }}
                                    </span>

                                <br/>

                                <small class="text-muted">
                                    {{ operation.user.first_name }},
                                    {{ operation.created_at | naturalday }}
                                </small>
                            </div>
                            <div class="col-xs-4 text-right">
                                <span class="label label-{{ operation.get_color }}">{{ operation.get_amount | intcomma }}</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="panel-body">
                В этом месяце ещё нет операций
            </div>
        {% endif %}
    </div>

    <ul class="pager">
        {% if previous_month %}
            <li class="previous {% if not previous_month %}disabled{% endif %}">
                <a href="{% url 'money:operation_month_archive' previous_month.year previous_month.month %}">
                    ← {{ previous_month|date:"F Y" }}
                </a>
            </li>
        {% endif %}

        {% if next_month %}
            <li class="next">
                <a href="{% url 'money:operation_month_archive' next_month.year next_month.month %}">
                    {{ next_month|date:"F Y" }} →
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block js %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script>
        $(function () {
            $('#container_week').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                exporting: {
                    enabled: false
                },
                xAxis: {
                    categories: {{ graph.categories | safe }},
                    title: {
                        text: ''
                    }
                },
                yAxis: {
                    min: 0,
                    max: {{ max }},
                    title: {
                        text: ''
                    },
                    labels: {
                        enabled: false
                    },
                    plotLines: [{
                        value: {{ limit }},
                        color: 'red',
                        width: 1,
                        zIndex: 999
                    }]
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    },
                    series: {
                        allowPointSelect: false,
                        stacking: 'normal'
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    enabled: false
                },
                series: [{
                    name: 'Недельный расход',
                    data: {{ graph.data }},
                    dataLabels: {
                        enabled: true
                    },
                    point: {
                        events: {
                            click: function (event) {
                                if (!event.currentTarget.selected) {
                                    event.currentTarget.select(true, true);
                                    var currentIndex = event.currentTarget.index;

                                    var points = this.series.chart.getSelectedPoints();
                                    for (var key in points) {
                                        if (parseInt(points[key].index) != parseInt(currentIndex)) {
                                            points[key].select(false, true);
                                        }

                                        var selectedWeek = parseInt(event.currentTarget.category);
                                        $('.operations-list').find('a').hide();
                                        $('.operations-list').find('a[data-week="' + selectedWeek + '"]').show();
                                    }
                                } else {
                                    $('.operations-list').find('a').show();
                                    event.currentTarget.select(false, true);
                                }
                            }
                        }
                    },
                    states: {
                        select: {
                            color: '#34A82C'
                        }
                    }
                }]
            });

            $('#container_month').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: ''
                },
                exporting: {
                    enabled: false
                },
                tooltip: {
                    enabled: false
                },
                legend: {
                    enabled: true
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Категории',
                    data: {{ graph.pie | safe }}
                }]
            });
        });
    </script>
{% endblock %}