<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'money:index' %}">Домашний учет</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'money:create_transfer' %}">Создать перевод</a></li>
                    <li><a href="{% url 'money:operation_month_archive' current_year current_month %}">Отчет</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Выйти</a></li>
                </ul>
            {% endif %}
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>